<div class="contact-container hidden-print">
  <div class="bulletin bulletin-top">
    <h3 class="soft-hdg">Contact Us</h3>
    <address>
      <strong>Home Office</strong><br>
      <abbr title="Phone Number">Phone:</abbr> <a href="tel:1-800-622-5230">1-800-622-5230</a><br>
      <abbr title="Fax Number">Fax:</abbr> 507-423-6323<br>
      <abbr title="Email">Email:</abbr> <a href="mailto:info@northstarmutual.com">info@northstarmutual.com</a>
    </address>
    <address>
      <strong>Field Representative</strong><br>
      <i>DEREK LOUWAGIE</i><br>
      <a href="mailto:derek.louwagie@northstarmutual.com"> derek.louwagie@northstarmutual.com</a><br>
    </address>
    <address>
      <strong>Additional Contact Information</strong><br>
      <a href="https://thor.nstarco.com/entry/default.asp?Category=Misc&amp;Service=Contact_Us" title="contact us" target="_blank">
        Visit Contact Us Page
      </a>
    </address>
  </div>
</div>