<div class="navbar navbar-default app-ribbon">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="https://thor.nstarco.com/entry/default.asp?Category=Misc&amp;Service=employee_menu">
      <span class="glyphicon glyphicon-home"></span> Employee Menu
    </a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li><a href="https://thor.nstarco.com/entry/default.asp?Category=Misc&amp;Service=Contact_Us">Contact Us</a></li>
    </ul>
    <ul class="nav navbar-nav">
      <li class="dropdown mega-dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="manuals-dropdown">
                Manuals <b class="caret"></b>
              </a>
        <ul class="dropdown-menu mega-dropdown-menu row">
          <li class="col-12">
            <div class="row">
              <div class="col-9">
                <h4>Dwelling Fire - Agent Manuals</h4>
              </div>
              <div class="col-3 text-right">
                <a style="margin-top:9px; margin-bottom:9px;display:block" title="View Online Agent Manuals" href="default.asp?Category=OnlineDocs&amp;Service=AgentManual" target="_blank"> View
All Online Agent Manuals
<span class="glyphicon glyphicon glyphicon-new-window"></span>
</a>
</div>
</div>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header" style="color:#3366FF">Minnesota</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/agentmanual/mn/MNDwelling.pdf" target="_blank" title="Dwelling Fire">
    <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire
  </a>
</li>
</ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header" style="color:#FF9933">North Dakota</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/agentmanual/nd/NDDwelling.pdf" target="_blank" title="Dwelling Fire">
    <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire
  </a>
</li>
</ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header" style="color:#009966">South Dakota</li>
<li>
  <a href="http://northstarmutual.com/userfiles/documents/agentmanual/sd/SDDwelling.pdf" target="_blank" title="Dwelling Fire">
    <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire
  </a>
</li>
</ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header" style="color:#B900B9">Nebraska</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/agentmanual/ne/NEDwelling.pdf" target="_blank" title="Dwelling Fire">
    <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire
  </a>
</li>
</ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header" style="color:#FF0033">Oklahoma</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/agentmanual/ok/OKDwelling.pdf" target="_blank" title="Dwelling Fire">
    <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire
  </a>
</li>
</ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header" style="color:#C00000">Iowa</li>
<li>
  <a href="http://northstarmutual.com/userfiles/file/agentmanual/ia/IAdwelling.pdf" target="_blank" title="Dwelling Fire">
    <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire
  </a>
</li>
</ul>
</li>
</ul>
</li>
</ul>
<ul class="nav navbar-nav">
  <li class="dropdown mega-dropdown">
    <a href="#" target="_blank" class="dropdown-toggle brochure-dd" data-toggle="dropdown">
      Brochures <b class="caret"></b>
    </a>
    <ul class="dropdown-menu mega-dropdown-menu row">
      <li class="col-12">
        <div class="row">
          <div class="col-3 col-offset-9 text-right">
            <a style="margin-top:9px; margin-bottom:9px;display:block" title="View All Brochures / Forms" href="default.asp?Category=OnlineDocs&amp;Service=Printables" target="_blank"> View
All Brochures / Forms
<span class="glyphicon glyphicon glyphicon-new-window"></span>
</a>
</div>
</div>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header">Personal Lines</li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-2134PersonalAutoMNND.pdf" target="_blank" title="Personal Auto MN &amp; ND CF-2134 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Personal Auto <small>MN &amp; ND</small>
      </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-2135PersonalAutoIANEOK.pdf" target="_blank" title="Personal Auto IA, NE, &amp; OK CF-2135 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Personal Auto <small>IA, NE, &amp; OK</small>
      </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-2136PersonalAutoSD.pdf" target="_blank" title="Personal Auto SD CF-2136 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Personal Auto <small>SD</small>
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-891HOBrochure.pdf" target="_blank" title="Homeowners CF-891 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Homeowners
      </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2003AllStarBrochure.pdf" target="_blank" title="All Star Brochure CF-2003 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> All Star Brochure</a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2103HOEnhancementBrochure.pdf" target="_blank" title="Homeowners Enhancement Endorsements CF-2103 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Homeowners Enhancement Endorsements</a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-1817RentersBrochure.pdf" target="_blank" title="Renters CF-1817 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Renters
      </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/HO-EquipBreakdown.pdf" target="_blank" title="Installed Equipment Breakdown Protection (Homeowners)">
        <span class="glyphicon glyphicon-menu-right"></span> Equipment Breakdown Protection</a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-1264MobilehomeownersBrochure.pdf" target="_blank" title="Mobile-Homeowners CF-1264 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Mobile-Homeowners
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2133DwellingFireBrochure.pdf" target="_blank" title="Dwelling Fire CF-2133 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Dwelling Fire</a>
    </li>
  </ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header">Farm</li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-584BrocFarmowners.pdf" target="_blank" title="Farmowners (IA, NE, ND, SD, OK) CF-584 Ed. 11-15"><span class="glyphicon glyphicon-menu-right"></span> Farmowners <small>(IA, NE, ND, SD, OK)</small></a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2118FOEndorsement.pdf" target="_blank" title="Farmowners Enhancement Endorsements CF-2118 Ed. 12-15">
        <span class="glyphicon glyphicon-menu-right"></span> Farmowners Enhancement Endorsements </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2075.pdf" target="_blank" title="Farm Plus Endorsement CF-2075 Ed. 12-15"><span class="glyphicon glyphicon-menu-right"></span> Farm Plus Endorsement </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2130FarmDwellingPlusBrochure.pdf" target="_blank" title="Farm Dwelling Plus Endorsements CF-2130 Ed. 12-15">
        <span class="glyphicon glyphicon-menu-right"></span> Farm Dwelling Plus Endorsements </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-818CDOBrochure.pdf" target="_blank" title="Combination Dwelling Owners (CDO) CF-818 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Combination Dwelling Owners <small>(CDO)</small></a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CDO-EquipBreakdown.pdf" target="_blank" title="Installed Equipment Breakdown Protection (CDO)">
        <span class="glyphicon glyphicon-menu-right"></span> Equipment Breakdown Protection <small>(CDO)</small></a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-552AgguideMN.pdf" target="_blank" title="Agricultural Building Valuation Guide (MN only) CF-552 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Ag Building Valuation Guide <small>(MN only)</small> </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-1513AgguideOutstates.pdf" target="_blank" title="Agricultural Building Valuation Guide (IA, NE, ND, SD, OK) CF-1513 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Ag Building Valuation Guide <small>(IA, NE, ND, SD, OK)</small>        </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/Farm-EquipBreakdown.pdf" target="_blank" title="Installed Equipment Breakdown Protection (Farm)">
        <span class="glyphicon glyphicon-menu-right"></span> Equipment Breakdown Protection <small>(Farm)</small></a>
    </li>
  </ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header">Commercial</li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2116BPBrochure.pdf" target="_blank" title="Business Protector CF-2116 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Business Protector </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2140BPPlusEnd.pdf" target="_blank" title="Business Protector Plus Endorsement CF-2140 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Business Protector Plus Endorsement </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-626ChurchProtectorBrochure.pdf" target="_blank" title="Church Protector CF-626 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Church Protector </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-1886CommercialAuto.pdf" target="_blank" title="Commercial Auto CF-1886 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Commercial Auto </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-1103ContractorProtectorBrochure.pdf" target="_blank" title="Contractors Protector CF-1103 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Contractors Protector </a>
    </li>
    <li class="divider"></li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2138CyberLiabilityBrochure3-16.pdf" target="_blank" title="Cyber Liability">
        <span class="glyphicon glyphicon-menu-right"></span> Cyber Liability </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CyberCoverageSummary.pdf" title="Cyber Coverage Summary" target="_blank"
        style="padding-left: 15px">
<span class="glyphicon glyphicon-menu-right"></span> Cyber Coverage Summary </a>
</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/CyberRiskLiabilityProtection.pdf" title="Cyber Risk Liability Protection"
    target="_blank" style="padding-left: 15px">
<span class="glyphicon glyphicon-menu-right"></span> Cyber Risk Liability Protection </a>
</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/CyberRiskManagement.pdf" title="Cyber Risk Management" target="_blank"
    style="padding-left: 15px">
<span class="glyphicon glyphicon-menu-right"></span> Cyber Risk Management </a>
</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/CyberRiskScenarios.pdf" title="Cyber Risk Scenarios" target="_blank"
    style="padding-left: 15px">
<span class="glyphicon glyphicon-menu-right"></span> Cyber Risk Scenarios </a>
</li>
<li class="divider"></li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/EPLIBrochure.pdf" target="_blank" title="EPLI (Employment Practices Liability Insurance)">
    <span class="glyphicon glyphicon-menu-right"></span> EPLI (Employment Practices Liability Insurance) </a>
</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/EPLIRiskManagementBrochure.pdf" title="Managing Employment Risk"
    target="_blank" style="padding-left: 15px">
<span class="glyphicon glyphicon-menu-right"></span> Managing Employment Risk</a>
</li>
<li class="divider"></li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/BrocEquipmentBreakdown.pdf" target="_blank" title="Equipment Breakdown Protection (Commercial)">
    <span class="glyphicon glyphicon-menu-right"></span> Equipment Breakdown Protection</a>
</li>
<li>
  <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2054GarageProtectorBrochure.pdf" target="_blank" title="Garage Protector CF-2054 Ed. 1-16">
    <span class="glyphicon glyphicon-menu-right"></span> Garage Protector</a>
</li>
</ul>
</li>
<li class="mega-dropdown-col">
  <ul>
    <li class="dropdown-header">All Lines</li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-2079NorthStarIntroduction.pdf" target="_blank" title="Introduction CF-2079 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> North Star Mutual Introduction </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2131IdentityTheftBrochure.pdf" target="_blank" title="Identity Theft Protection CF-2131 Ed. 12-15">
        <span class="glyphicon glyphicon-menu-right"></span> Identity Theft Protection </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-522PersonalInventory.pdf" target="_blank" title="Personal Property Inventory CF-522">
        <span class="glyphicon glyphicon-menu-right"></span> Personal Property Inventory </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-1120BrocSolidFuel.pdf" target="_blank" title="Solid Fuel Heating Booklet CF-1120">
        <span class="glyphicon glyphicon-menu-right"></span> Solid Fuel Heating Booklet </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/CF-2115UMBBrochure.pdf" target="_blank" title="Umbrella CF-2115 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Umbrella </a>
    </li>
    <li>
      <a href="http://northstarmutual.com/UserFiles/Documents/forms/cf-1608Discounts.pdf" target="_blank" title="Companion Policy &amp; Other Available Discounts CF-1608 Ed. 1-16">
        <span class="glyphicon glyphicon-menu-right"></span> Companion Policy &amp; Other Discounts </a>
    </li>
  </ul>
</li>
</ul>
</li>
</ul>
<ul class="nav navbar-nav navbar-right">
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <span class="glyphicon glyphicon-user"></span> WINNE : 365 <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
      <li>
        <a href="https://thor.nstarco.com/entry/default.asp?Category=Misc&amp;Service=SysAdmin_Menu" title="System Admin Menu">
          <span class="glyphicon glyphicon-menu-right"></span> System Admin Menu
        </a>
      </li>
      <li>
        <a href="https://thor.nstarco.com/fieldstaff/default.asp?Category=Misc&amp;Service=FieldRep_Menu" title="Field Rep Menu">
          <span class="glyphicon glyphicon-menu-right"></span> Field Rep Menu
        </a>
      </li>
      <li>
        <a href="https://thor.nstarco.com/oga/default.asp?Category=Misc&amp;Service=OGA_Menu" title="Oga Menu">
          <span class="glyphicon glyphicon-menu-right"></span> OGA Menu
        </a>
      </li>
      <li>
        <a href="https://thor.nstarco.com/entry/default.asp?Category=Misc&amp;Service=Signoff&amp;ref=NSInit" title="Sign Out" class="logoff-link">
          <span class="glyphicon glyphicon-log-out"></span>&nbsp;Log Off
        </a>
      </li>
    </ul>
  </li>
</ul>
</div>
<!--/.nav-collapse -->
</div>