<div class="navbar pg-header">
  <div class="navbar-inner">
    <div class="col-6">
      <h1 class="brand">
        <a href="https://thor.nstarco.com/entry/default.asp?Category=Misc&amp;Service=employee_menu" title="Employee Menu">
          <img src="NSM-Logo-web.gif" alt="North Star Mutual Insurance Company" class="img-responsive">
        </a>
      </h1>
    </div>
    <div class="col-6">
      <h1 class="pg-title">
        Dwelling Fire Quoting
      </h1>
    </div>
  </div>
</div>
