@{ ViewData["Title"] = "Home Page"; }

  <div class="app-container">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>Dwelling Fire Menu</h3>
      </div>
      <div class="panel-body">
        <form method="post" action="https://thor.nstarco.com/entry/default.asp?Category=Dwell&amp;Service=Home" name="subp">
          <input type="hidden" name="formsubmit" value="true">
          <input type="hidden" name="sub" value="4">
          <div class="row">
            <div class="col-4">
              <div class="form-group ">
                <label for="prod">Agency #</label>
                <input type="text" class="form-control" name="iuserid" maxlength="4" id="prod" placeholder="Enter Agency Number" autocomplete="off">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-4">
              <div class="form-group">
                <input type="hidden" name="ssdfapp">
                <a href="#" class="btn btn-primary btn-block" alt="Start New Quote">
                  <span class="glyphicon glyphicon-plus-sign"></span> New Quote
                </a>
              </div>
              <div class="form-group">
                <a href="#" class="btn btn-primary btn-block" alt="Retrieve Existing Quote">
                  <span class="glyphicon glyphicon-open"></span> Retrieve Quotes/Applications
                </a>
              </div>
              <div class="form-group">
                <a href="#" class="btn btn-primary btn-block" alt="Retrieve Existing Quote">
                  <span class="glyphicon glyphicon-open"></span> View/Reprint Applications
                </a>
              </div>
              <div class="form-group">
                <a href="#" class="btn btn-primary btn-block" alt="Start New Application">
                  <span class="glyphicon glyphicon-plus-sign"></span> Endorsement Quoting
                </a>
              </div>
              <div class="form-group">
                <a href="#" class="btn btn-primary btn-block" alt="Upload Supporting Docs">
                  <span class="glyphicon glyphicon-open"></span> Upload Supporting Documents
                </a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <!-- .app-container -->